
.modal-dialog {
  @media (max-width: $breakpointMobile) {
    margin: 50px 0 0;
  }
}

.rsvp {
    font-family: $fontAccent;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

    @media (max-width: $breakpointMobile) {
      padding: 10px
    }
}

.gif {
  max-width: 100%;
}

.rsvp__field {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.rsvp__field--hidden {
    display: none;
}

.rsvp__header {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: $fontAccent;
    color: lightgray;
    font-size: 24px;
    font-weight: 100;
    padding: 20px;
}

.rsvp input[type="text"],
.rsvp input[type="email"],
.rsvp textarea,
.rsvp select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-family: $fontAccent;
    height: 45px;
}

.rsvp textarea{
    resize:none;
    overflow: hidden;
}

.rsvp input[type="button"],
.rsvp input[type="submit"]{
    margin-top: 40px;
    width: 100%;
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #5e6346;
    border: none;
    border-radius: 15px;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: $fontAccent;
    font-size: 14px;
    padding: 10px 18px 8px;
    text-decoration: none;
    text-transform: uppercase;
}

.rsvp input[type="button"]:hover,
.rsvp input[type="submit"]:hover {
    background-color:#5e6346;
}

rsvp input[type="submit"]:focus {
    outline: 0;
}

input[type="checkbox"] {
    margin: 4px 10px 0px 0px;
}

.left-radio {
    padding-left: 0px;
    padding-bottom: 10px;
    border-right: 1px dotted #ddd;
}

.radio-container {
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #ddd;
    color: gray;
}

.radio-text {
    display: inline;
    padding-left: 10px;

    @media (max-width: $breakpointMobile) {
      font-size: 12px;
    }
}

.checkbox-guest {
  position: absolute;
  right: 0;
  top: 10px;
}

.plusone-checkbox {
  color: gray;
}

.close {
  color: white;
}
