.logo-link {
  display: inline-block;
}

.logo {
	height: 40px;
  margin-top: 14px;

  @media (max-width: $breakpointMobile) {
    height: 25px;
    margin-top: 19px;
  }
}

.navbar-container {
	position: fixed;
	background-color: white;
	width: 100%;
	z-index: 100;
}

.navbar-ul	{
	float: right;
	margin: 20px 0px;
}

.navbar-items {
	display: inline-block;
	margin: 0 0 0 40px;
	font-size: 18px;
	font-family: $fontAccent;
	border: 3px solid white;
	transition: all 300ms ease-in-out;

  @media (max-width: $breakpointMobile) {
    font-size: 12px;
    margin-left: 24px;
  }
}

.navbar-items:hover {
	border-bottom: 3px solid #5e6346;
}

.navbar-links {
	text-decoration: none;
	color: #5e6346;
}

.navbar-links:hover {
	text-decoration: none;
	color: #5e6346;
}

.navbar-links:focus {
	color: #5e6346;
	text-decoration: none;
	outline: 0;
}

.background-container {
	padding-top: 120px;
	background-image: url("/images/forest.jpg");
	background-size: cover;
	background-position: center;
	height: 700px;

  @media (max-width: $breakpointTablet) {
    height: 600px;
    background-image: url("/images/forest-md.jpg");
  }

  @media (max-width: $breakpointMobile) {
    height: 500px;
  }
}

.content-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	height: 500px;
	border-radius: 70px;

  @media (max-width: $breakpointTablet) {
    border-radius: 0px;
    height: 400px;
  }

  @media (max-width: $breakpointMobile) {
    height: 300px;
  }
}

.invite {
	display: block;
	margin: 100px auto;
	align-items: center;
  max-width: 660px;

  @media (max-width: $breakpointTablet) {
    width: 100%;
  }
}

.invite-content {
	width: 100%;
}

#map-canvas {
	margin: 50px 0px 100px;
	width: 100%;
	height: 200px;
}

.rsvp-footer {
	display: block;
	margin-bottom: 100px;
  padding: 10px 0 0 0;
  font-family: $fontAccent;
	font-size: 50px;
	text-align: center;
	color: #5e6346;
	border: 5px solid #5e6346;
	border-radius: 20px;
	background: white;
	transition: all 100ms ease-in-out;

  &:focus {
    text-decoration: none;
    outline: 0;
    color: #5e6346;
  }

  &:hover {
    background: #5e6346;
    color: white;
    text-decoration: none;
  }

  @media (max-width: $breakpointTablet) {
    font-size: 30px;
  }
}

.copyright {
  margin: 0 auto 20px;
  font-family: $fontAccent;
  font-size: 10px;
  text-align: center;
  width: 100%;
}
