// @font-face {
//     font-family: 'modern_sansregular';
//     src: url('/fonts/moderne_sans-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
// endbower

@include font-face('modern_sansregular', '/fonts/moderne_sans-webfont');

$fontAccent: 'modern_sansregular', sans-serif;
$breakpointTablet: 768px;
$breakpointMobile: 450px;

@import "animate";
@import "home";
@import "form";
